**/*.log
**/*.coverage
**/*htmlcov/
**/*.tsbuildinfo
**/*.db
**/*.sqlite
**/*.gpkg
**/*.mbtiles
**/*.cog.tif
**/*.tif
**/*node_modules/
**/*playwright-report/
**/*.playwright/
**/*.hypothesis/
**/*venv/
**/*__pycache__/
**/*.eggs/
**/*build/
**/*dist/
**/*.egg-info/
**/*.pyc
**/*.pyo
**/*.pyd
**/.ruff_cache/
**/.mypy_cache/
**/.pytest_cache/
**/.complexipy_cache/
**/.cursor/
**/.env
**/.venv/
**/.vscode/
**/.idea/
**/.DS_Store
**/.env.*
Instructions.md