anyio==4.12.0
aiofiles==25.1.0
fastapi==0.126.0
httpx==0.28.1
myst-parser==4.0.1
psycopg2==2.9.11
pydantic==2.12.5
pydantic-settings==2.12.0
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
python-dotenv==1.2.1
python-multipart==0.0.21
rio-tiler==8.0.4
ruff==0.14.10
sphinx-autodoc-napoleon-typehints==2.1.6
sphinx==8.2.3
sphinx-rtd-theme==3.0.2
ty==0.0.5
uvicorn[standard]==0.38.0
